<html>
    <head data-th-replace="menu :: msghead"></head>
    <body>
        <nav data-th-replace="menu :: msgmenu"></nav>
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <a href="#" id="hideShowButton">Hide</a>
                    <form data-th-action="@{/messagetable}" data-th-object="${messagefilter}" id="searchMessagesForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input data-th-field="*{topic}" type="text" class="form-control" placeholder="Téma">
                            </div>
                            <div class="form-group col-md-6">
                                <input data-th-field="*{text}" type="text" class="form-control" placeholder="Szöveg">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input data-th-field="*{author}" type="text" class="form-control" placeholder="Szerző">
                            </div>
                            <div class="form-group col-md-6">
                                 <input data-th-field="*{id}" type="text" class="form-control" id="inputCity" placeholder="id">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input data-th-field="*{from}" type="text" class="form-control" placeholder="tól (ÉÉÉÉ/hh/nn)">
                            </div>
                            <div class="form-group col-md-6">
                                <input data-th-field="*{to}" type="text" class="form-control" placeholder="ig (ÉÉÉÉ/hh/nn)">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <input data-th-field="*{limit}" type="text" class="form-control" id="inputCity" placeholder="limit">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Rendezés: </label>
                            </div>
                            <div class="form-group col-md-3">
                                <select data-th-field="*{orderBy}" class="form-control" id="select">
                                    <option value=""></option>
                                    <option value="text">Szöveg</option>
                                    <option value="author">Szerző</option>
                                    <option value="createDate">Dátum</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="form-check">
                                    <input  type="radio" class="form-check-input" id="up" data-th-field="*{isAsc}" value="asc">
                                    <label class="form-check-label" for="up">Növekvő</label>

                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="down" data-th-field="*{isAsc}" value="desc">
                                    <label class="form-check-label" for="down">Csökkenő</label>

                                </div>
                            </div>

                        </div>
                        <input type="submit" class="btn btn-primary px-4 float-right" value="Keres">
                    </form>
                </div>
            </div>
            <h2>Üzenetek</h2>
            <table class="table" id="msgListTable">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Üzenet szerzője</td>
                        <td>Üzenet szövege</td>
                        <td>Téma</td>
                        <td>Üzenet létrehozva</td>
                        <td data-sec-authorize="hasAuthority('ADMIN')"></td>
                    </tr>
                </thead>
                <tr data-th-each="message: ${messages}" class="msgListTableRow">
                    <td data-th-text="${message.id}"></td>

                    <td data-th-text="${message.author.username}"></td>
                    <td>
                        <a data-th-text="${#strings.abbreviate(message.text,70)}" data-th-href="@{'messages/' + ${message.id}}"></a>
                    </td>
                    <td data-th-text="${message.topic?.name}"></td>
                    <td data-th-text="${{message.createDate}}"></td>                 
                    <td data-sec-authorize="hasAuthority('ADMIN')"><a data-th-href="@{'/messages/delete/' + ${message.id}}">Töröl</a></td>

                </tr>
            </table>
        </div>
    </body>
</html>
