<html>
    <head data-th-replace="menu :: msghead"></head>
    <body>
        <nav data-th-replace="menu :: msgmenu"></nav>
        <div class="container"> 
            <div data-th-if="${message == null}" >
                Nincs ilyen id-jú üzenet
            </div>
            <div data-th-if="${message != null}" class="card">
                <div class="card-body">
                    <h4 class="card-title">Üzenet részletei</h4>
                    <p class="card-text">   
                        <span class="lead">Id: </span>
                        <span data-th-text="${message.id}">1</span>
                    </p>
                    <p class="card-text">   
                        <span class="lead">Szerző: </span>
                        <span data-th-text="${message.author.username}"></span>
                    </p>
                    <p class="card-text">   
                        <span class="lead">Szöveg: </span>
                    <pre style="white-space: pre-wrap;" data-th-text="${message.text}"></pre>
                    </p>
                    <p class="card-text">   
                        <span class="lead">Küldés időpontja: </span>
                        <span data-th-text="${{message.createDate}}"></span>
                    </p>
                          <a data-th-href="@{/messagetable}" class="card-link">Vissza az üzenetekhez</a>

                </div>
            </div>            
        </div>
    </body>
</html>
